*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    background: linear-gradient(-25deg,#54d1ab,#5567bb);
}
h1{
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 4rem;
}
.w-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.local{
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}
.local .title{
    color:white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px 20px;
    text-align: center;
    
}
.temp img{
    width: 300px;
    height: 300px;
}
.day,.weather,.w-cel,.w-fh{
    border-bottom: none;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.local sup{
    font-size: 1rem;
}
.wind col{
    display: flex;
}
.wind img{
    width: 50px;
    margin-left: 20px;
}
.wind p{
    display: inline;
    color: white;
    font-weight: bold;
}
hr{
    width: 100%;
    height: 3px;
    background-color: white;
    color: white;
    opacity: 1;
}
.week-weather img{
    width: 100px;
    position: relative;
    left:40px;
}
.box div::after{
    content: '';
    display:inline-flex;
    height: 280px;
    width: 1px;
    position:relative;
    left: -35px;
    margin-top: -300px;
    border: 1px solid white;
}
.box div:first-child::after{
    display: none;
}
@media (max-width: 1100px){
    .box div::after{
        left: -15px;
    }
}

@media (max-width: 991.98px) {
    .w-container{
        display: flex;
        flex-direction: column;
    }
    .local{
        width: 100%;
    }
    .m-img{
        width: 250px;
        height: 250px;
    }
    .box div::after{
        left: 5px;
    }

    .box{
        gap: 10px;
        margin-left: -50px;
    }
    .week-weather h2{
        font-size: 1.4rem;
    }
    .local{
        border-radius: 0;
    }
    .box {
        display: block;
    }
    .c-box{
        margin: 0 15px;
        border-bottom: 1px solid white;
    }
    .box img{
        left: 35%;
        width: 250px;
    }
    .box div::after{
        display: none;
    }
}
@media (max-width: 767.98px) { 
    .local{
        border-radius: 0;
    }
    .box img{
        left: 30%;
        width: 200px;
    }
}
@media (max-width: 575.98px) { 
.local >*{
    align-items: center;
    text-align: center;
    width: 100%;
}
.row{
    width: 400px;
}
.m-img{
    position: relative;
    left: 75px;
}
.wind{
    margin-left: -30px;
}
.local{
    border-radius: 0;
}
.box img{
    left: 0;
    width: 150px;
}
}
